{% load static %}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="{% url 'web_interface:dashboard' %}" class="brand-link text-center">
    <img src="{% static 'web_interface/img/tbot_logo.png' %}" alt="Ícono personalizado" width="60" height="60"/>
    <span class="brand-text font-weight-light">TBot Project</span>
  </a>
  <div class="sidebar">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a href="{% url 'web_interface:dashboard' %}" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'web_interface:services' %}" class="nav-link">
            <i class="nav-icon fas fa-server"></i>
            <p>Servicios</p>
          </a>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-cog"></i>
            <p>
              Configuración
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'web_interface:config_telegram' %}" class="nav-link">
                <i class="nav-icon fab fa-telegram-plane"></i>
                <p>Telegram</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'web_interface:config_email' %}" class="nav-link">
                <i class="nav-icon fas fa-envelope"></i>
                <p>Correo</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'web_interface:config_cron' %}" class="nav-link">
                <i class="nav-icon fas fa-clock"></i>
                <p>Cron</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'web_interface:config_todus' %}" class="nav-link">
                <i class="nav-icon fas fa-cloud"></i>
                <p>Todus</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'web_interface:config_ad' %}" class="nav-link">
                <i class="nav-icon fas fa-network-wired"></i>
                <p>Active Directory</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'web_interface:users' %}" class="nav-link">
                <i class="nav-icon fas fa-users"></i>
                <p>Usuarios</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-bell"></i>
            <p>
              Notificaciones
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'web_interface:notif_email' %}" class="nav-link">
                <i class="nav-icon fas fa-envelope"></i>
                <p>Correo</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'web_interface:notif_todus' %}" class="nav-link">
                <i class="nav-icon fas fa-cloud"></i>
                <p>Todus</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'web_interface:monitor_telegram' %}" class="nav-link">
                <i class="nav-icon fas fa-broadcast-tower"></i>
                <p>Monitor de Telegram</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="/logs/" class="nav-link">
            <i class="nav-icon fas fa-list-alt"></i>
            <p>Logs del Sistema</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>